body {
    background: -webkit-radial-gradient(1% -44%, circle, #a95682, #a95682 5%, #e67e22 50%, white 93%) fixed;
    background: radial-gradient(circle at 1% -44%, #a95682, #a95682 5%, #e67e22 50%, white 93%) fixed;
  font-family: Lato, sans-serif;
  color: white;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
}
.navigation-bar {
    position: static;
    left: 0px;
  top: 0px;
  right: 0px;
  background-color: transparent;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
}
.navbar-logo {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 5px;
}



.hero-section.centered {
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 8%;
  padding-bottom: 5%;

}
.hero-heading {
  margin-bottom: 30px;
  font-size: 150px;
  line-height: 150px;
  font-weight: 300;
}
.hero-subheader {
  font-size: 50px;
  line-height: 50px;
  font-weight: 300;
}
.video-background {
  position: relative;
  right: 50%;
  bottom: 456px;
  display: block;
}
.nav-link {
  color: white;
  text-decoration: none;
}
.nav-inside {
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.section {
  padding: 80px 10px;
}
.sign-in-image {
  padding: 20px;
    display: inline-block;
}
.white-box {
  padding: 15px;
  border: 1px solid #f5dd90;
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
}
.white-box:hover {
  background-color: rgba(247, 146, 5, 0.25);
}
.grid-image {
  display: block;
  width: 35%;
  margin: 20px auto;
  padding: 20px;
  border: 10px solid white;
  border-radius: 50%;
  background-color: #f89406;
  box-shadow: #f89406 0px 0px 1px 1px;
}
.icons-heading {
    color: #f5dd90;
  font-size: 30px;
  line-height: 30px;
  font-weight: 300;
}
.icons-subheading {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
}
.footer {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
}
.navcontainer {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    display: inline-block;
    float: none;
}
.page-title-container {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.content-section {
    padding-top: 0px;
    background-image: none;
}
.title-pages {
    font-size: 100px;
    line-height: 100px;
    font-weight: 200;
}
.sidebar-block {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #510;
}
.sidebar-section-title {
    margin-bottom: 5px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 300;
}
.sidebar-section-content {
    margin-top: 5px;
}
.hr {
    display: block;
    border: 1px solid black;
    border-radius: 50px;
}
.widget-paragraph {
    margin-top: 5px;
    margin-bottom: 5px;
}
.widget-list {
    text-align: left;
    list-style-type: square;
}
.widget-dates-date {
    color: maroon;
    font-weight: 900;
}
.content {
    padding-top: 10px;
    padding-bottom: 10px;
}
html.w-mod-js *[data-ix="navbar-appear"] {
  display: block;
  opacity: 0;
}
video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}

@media (max-width: 991px) {
  .hero-section.centered {
    padding-top: 20%;
    padding-bottom: 20%;
  }
  .video-background {
    position: absolute;
    right: 50%;
    bottom: 359px;
  }
}
@media (max-width: 767px) {
  .white-box {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media (max-width: 479px) {
  .hero-heading {
    font-size: 100px;
  }
  .hero-subheader {
    font-size: 25px;
  }
}

