html {
    position: relative;
    min-height: 100%;
}
body {
    background-color: #272727;
}
.nav-pills > a {
    color: #415B76;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #415B76;
}
a {
    color: #CCC;
}
a:hover {
    color: #666;
}
hr {
    border-color: #272727;
}
.container-mod {
    background-color: #464646;
    padding-bottom: 10px;
    color: #EEE;
    top: 0;
    bottom: 0;
    box-shadow: 0px 0px 10px #111111;
    min-height: 100%;
    min-height: 100vh;
    align-items: center;
    padding-bottom: 5em;
}
.footer {
    position: absolute;
    padding: 1.2em;
    bottom: 0;
    height: 4em;
    font-style: italic;
    padding-right: 20px;
    text-align: center;
    border-top: 2px solid #6B6B6B;
}
