html, body {
    height: 100%;
}
#hero {
    height: 100%
}

.header-text {
    text-align: center;
    font-family: Roboto;

}

.hero-text {
    text-align: center;
    font-family: Roboto;
    font-size: 10em;
    font-weight:300;
    position: absolute;
    top:50%;
    margin: -200px 0 0 0;

}

.subheader-text {
    font-size: 2em;
    position: absolute;
    top:50%;
}

/*Animate header */

